{%extends 'base.html'%}
{%block content%}
<div id="simon">

    <p class="para">Make a statement without saying a word.</p>
    <form class="form-inline my-2 my-lg-0"role="search" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form><br>
    <p class=" mute">Hint:Search on the Category of photos you would like.</p>

</div>

<!-- <img src="{{image.image.url}}" alt="">
<p>{{image.title}}</p>
<p>{{image.description}}</p>
<p>{{image.category}}</p>
<p>{{image.location}}</p>
<p>{{image.posted_date}}</p> -->
<div class="row mt-3">
    {% for image in images %}
    <div class="col-sm-4">
      <div class="img-box mb-3" style="width: 15rem;">

        <img class="thumbnail img-el img-fluid" src="{{image.image.url}}" alt="IMAGE LOADING...">
      </div>
      <div class="words">
        <h4 class="text-bold"> Title:{{image.title}} </h4>
        <p>
          <p>Description: {{image.posted_date}}</p>
          
        </p>
        <p>
          
        </p>
        <hr>
      </div>
    </div>


{% endfor %}
{%endblock%}