{%extends 'base.html'%}
{%block content%}
<!-- <div class="container">

    <div class="row">
      {% if image%}
        <h2>Found {{ image|length }} of searched term {{message}}</h2>
      {% else %}
        <h2> Found 0 articles for the search term {{message}}</h2>
      {% endif %}
  
    </div>
  
    <div class="row">
  
    {% if  %}
      {% for image in images %}
        <div class="col-sm-6 col-md-3">
            <h1>{{image.title}}</h1>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div> -->
  <h1>My name is Simon</h1>
{%endblock%}